:root {
  color-scheme: light dark;
  --background-color: #ffffff;
  --text-color: #000000;
  --heading-text: #344d6d;
  --link-color: #0000F0;
  --link-underline: #0000F0;
  --subtle-link-color: #0000FF;
  --link-visited-color: purple;
  --link-active-color: red;
  --button-bg: #255066;
  --button-text: #ffffff;
  --nav-bg: #265066;
  --nav-text: #ffffff;
  --highlighted-text: #000000;
  
  --dark-background-color: #253f51;
  --dark-text-color: #ffffff;
  --dark-heading-text: #ec9548;
  --dark-link-color: #0000F0;
  --dark-link-underline: #0000F0;
  --dark-subtle-link-color: #0000FF;
  --dark-link-visited-color: purple;
  --dark-link-active-color: red;
  --dark-button-bg: #ed9a62;
  --dark-button-text: #253f51;
  --dark-nav-bg: #ed9a62;
  --dark-nav-text: #253f51;
  --dark-highlighted-text: #ffffff;
}

html {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

body {
  color: light-dark(var(--text-color), var(--dark-text-color));
  background-color: light-dark(var(--background-color), var(--dark-background-color));
  font-family: heliotrope_3;
  font-size: 16pt;
}
header {
  text-align: center;
}
img {
  max-width: 100%;
}

.float-left {
  float: left;
  padding: 0 20px 20px 0;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

ul {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

/* --------------------------------------------------

  Headings and Summaries

* -------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-family: hermes_maia_2;
  color: light-dark(var(--heading-text), var(--dark-heading-text));
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

summary {
  font-family: hermes_maia_2;
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 18pt;
  color: light-dark(var(--heading-text), var(--dark-heading-text));
}

a {
  text-decoration: none;
  color: light-dark(var(--link-color), var(--dark-link-color))
  border-bottom: 1px dotted;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: light-dark(var(--link-underline), var(--dark-link-underline))
}

a.implicit {
  text-decoration: none;
  border: none;
}

a.ext-link::after {
    content: "";
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
@media screen and (prefers-color-scheme: dark) {
  a.ext-link::after {
        content: "";
        width: 0.9em;
        height: 0.9em;
        margin-left: 0.2em;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' stroke='%23F0F0F0' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
    }
}

footer {
  font-family: hermes_maia_2;
  font-size: 0.9rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  border: none;
}

/* --------------------------------------------------

  Tables

* -------------------------------------------------- */

table {
  border-collapse: collapse;
  margin-bottom: 1em;
}

caption {
  border: 0;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  text-align: center;
}

th {
  border: 1px #7D653B solid;
  text-align: left;
  padding: 5px;
}

td {
  border: 1px #7D653B solid;
  text-align: left;
  vertical-align: top;
  padding: 5px;
}

/* --------------------------------------------------

  Belief Names

* -------------------------------------------------- */

ul.beliefs-cloud {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 2.5em;
  font-family: hermes_maia_3_caps;
  font-size: 1rem;
  font-weight: 400;
}

ul.beliefs-cloud a {
  text-decoration: none;
  display: block; 
  position: relative;
  border-bottom: 0;
  border-radius: 0.25em; 
  color: light-dark(var(--button-text), var(--dark-button-text));
  background-color: light-dark(var(--button-bg), var(--dark-button-bg));
  padding: 1px 12px 1px 12px; 
  margin: 10px 10px 10px 10px; 
  min-width: 40px; 
  text-align: center; 
}

a.belief-name {
  text-decoration: none;
  text-align: center; 
  /* display: block; */
  /* position: relative;
  border-bottom: 0; */
  color: light-dark(var(--button-text), var(--dark-button-text));
  background-color: light-dark(var(--button-bg), var(--dark-button-bg));
  border-radius: 0.25em; 
  padding: 1px 12px 1px 12px; 
  margin: 10px 10px 10px 0; 
  min-width: 40px; 
}

/* --------------------------------------------------

  Navigation Links

* -------------------------------------------------- */

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: left;
  line-height: 2.5em;
  font-family: hermes_maia_3_caps;
  font-size: 1rem;
  font-weight: 400;
}

nav ul a {
  text-decoration: none;
  display: block; 
  position: relative;
  border-bottom: 0;
  border-radius: 0.25em; 
  color: light-dark(var(--nav-text), var(--dark-nav-text));
  background-color: light-dark(var(--nav-bg), var(--dark-nav-bg));
  padding: 1px 12px 1px 12px; 
  margin: 10px 20px 10px 0; 
  min-width: 40px; 
  text-align: center; 
}

.section-name {
  font-style: italic;
  border-bottom: 2px solid;
}

p.section-name {
  /* font-family: "triplicate_a", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-style: italic;
  font-weight: 500;
  margin-block-end: 0;
}

/* --------------------------------------------------

  Block Quotes

* -------------------------------------------------- */

blockquote {
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    /* color: #383838; */
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: light-dark(var(--highlighted-text), var(--dark-highlighted-text));
}

.quote-from {
  margin-block-start: 0.1rem;
  margin-block-end: 0.5rem;
  margin: 0.1rem 0 0.5rem 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  /* color: #383838; */
}

.quote-from:before {
  display: block;
  padding-left: 10px;
  content: "\2014";
  position: absolute;
  left: 0;
  /* color: #8b6854; */
}

/* --------------------------------------------------

  Font Face definitions

* -------------------------------------------------- */

@font-face {
font-family: heliotrope_3;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_3_regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_3_italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_3_bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope_3;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/heliotrope_3_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_2;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_2_regular.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_2;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_2_italic.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_2;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_2_bold.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_2;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_2_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_2_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_2_caps_regular.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_2_caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_2_caps_bold.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_3_caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_3_caps_regular.woff2') format('woff2');
}

@font-face {
font-family: hermes_maia_3_caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/hermes_maia_3_caps_bold.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_b_regular.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_a_regular.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_a_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_a_bold.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_a;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_a_bold_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_b_italic.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_b_bold.woff2') format('woff2');
}

@font-face {
font-family: valkyrie_b;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: auto;
src: url('../fonts/valkyrie_b_bold_italic.woff2') format('woff2');
}